:global{
  html,
  body {
    height: 100%;
    width: 100%;
    ::-webkit-scrollbar-track {
      margin: 6px 0;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #ddd;
    }
  }
  svg,
  svg path {
    fill: currentcolor;
  }
  ::-webkit-scrollbar{
    width: 6px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb{
    height: 30px;
    background-color: #bbb;
    -webkit-border-radius: 3px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    //border: 2px solid #fff;
  }
  ::-webkit-scrollbar-track-piece{
    background-color: #fff;
  }
  //为了页面隐藏滚动条
  .html-overflow-hidden {
    overflow-y: hidden;
    height: 100vh;
  }
}